.Thing {
  background-color: rgb(201, 195, 195);
}

body {
  background-image: linear-gradient(rgb(0, 0, 12), rgb(0, 0, 27), rgb(0, 0, 27), rgb(37, 61, 97));
  /* overflow: scroll; */
}

.glass {
  background-color: rgba(218, 218, 218, 0.562);
  margin: 1em auto;
  padding: 1em;
  border-radius: .125em;
  width: 90%;
  
}
.frosted {
  background-color: rgba(214, 214, 214, 0.336);
  width: 100%;
  height: 100%;
  margin: 0;
  padding:auto;
}

.moon {
  background-image: url(../images/moon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(218, 218, 218, 0.219);
  display: flex;
  align-items: center;
}